# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.db3
db.sqlite3

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Migrations (optional - залеж від команди)
# */migrations/

# Environment variables
.env
